# Narrative I/O API credentials
NIO_API_TOKEN=
NIO_DATA_PLANE_ID=

# Snowflake credentials
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USERNAME=
# Either use password authentication
SNOWFLAKE_PASSWORD=
# Or use private key authentication (one of the following)
# SNOWFLAKE_PRIVATE_KEY=
# SNOWFLAKE_PRIVATE_KEY_PATH=
# SNOWFLAKE_PRIVATE_KEY_PASS=
SNOWFLAKE_DATABASE=
SNOWFLAKE_SCHEMA=
SNOWFLAKE_WAREHOUSE=
SNOWFLAKE_ROLE=